<%= form_for :session, url: sessions_path do |f| %>

<p>
    <%= f.label :username, 'Введите ваш ник' %>
</p>

<p>
    <%= f.text_field :username%>
</p>

<p>
    <%= f.submit 'Okay' %>
</p>

<% end %>